/*
	===== CHAT =====
*/
.chat {
	width: 90%;
	max-width: 1200px;
	height: 90vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(184, 184, 184, .8);
	border-radius: 20px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .6);
	z-index: 2;
	
	// .chat__header

	&__header {
		background: rgba(0, 0, 0, .8);
		padding: 10px 20px;
		color: #fff;
		display: flex;
		align-items: center;
		gap: 10px;
		flex: 0 1 55px;
		position: relative;
		z-index: 2;
		text-align: left;
		text-transform: uppercase;

		h1, h2 {
			font-weight: 400;
			font-size: 12px;
			margin: 0;
			padding: 0;
		}

		h1 { 
			font-weight: 500;

			@media (max-width: 325px) {
				display: none;
			}
		}

		h2 {
			color: rgba(255, 255, 255, .5);
			font-size: 10px;
			letter-spacing: .2px;
			position: relative;
			padding-left: 10px;

			span {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: green;
			}
		}
	}

	// .chat__back-icon

	&__back-icon {
		width: 15px;
		margin-right: 5px;
		transition: filter .1s ease;

		&:hover {
			filter: invert(.6);
		}
	}

	// .chat__avatar

	&__avatar {
		width: 35px;
		height: 35px;
		z-index: 1;
		border-radius: 30px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 2px solid rgba(255, 255, 255, .25);

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}
	}

	// .chat__messages

	&__messages {
		flex: 1 1 auto;
		color: rgba(255, 255, 255, .8);
		overflow: hidden;
		position: relative;
		width: 100%;
		
		.message {
			clear: both;
			float: left;
			padding: 10px 15px;
			border-radius: 10px 10px 10px 0;
			background: rgba(0, 0, 0, .8);
			margin-block: 15px;
			margin-inline-start: 45px;
			font-size: 12px;
			line-height: 1.4;
			position: relative;
			text-shadow: 0 1px 1px rgba(0, 0, 0, .2);

			&::before {
				content: '';
				position: absolute;
				bottom: -6px;
				left: 0;
				border-top: 6px solid rgba(0, 0, 0, .8);
				border-right: 7px solid transparent;
			}

			&:last-child {
				margin-bottom: 30px;
			}

			// .message.message__personal

			&.message__personal {
				float: right;
				color: #fff;
				text-align: right;
				background: #666666;
				border-radius: 10px 10px 0 10px;

				&::before {
					left: auto;
					right: 0;
					border-right: none;
					border-left: 5px solid transparent;
					border-top: 4px solid #666666;
					bottom: -4px;
				}

				// .message.message__personal .timestamp
				.timestamp {
					right: 5px;
				}
			}

			// .message.new

			&.new {
				transform: scale(0);
				transform-origin: 0 0;
				animation: bounce .5s linear both;
				-webkit-animation: bounce .5s linear both;

				img {
					width: 100%;
					max-width: 200px;
				}
			}

			// .message__loading

			&__loading {
				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					content: '';
					display: block;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: rgba(255, 255, 255, .5);
					z-index: 2;
					margin-top: 4px;
					animation: ball .45s cubic-bezier(0, 0, .15, 1) alternate infinite;
					-webkit-animation: ball .45s cubic-bezier(0, 0, .15, 1) alternate infinite;
				}
				span {
					display: block;
					font-size: 0;
					width: 20px;
					height: 10px;
					position: relative;

					&::before,
					&::after {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						content: '';
						display: block;
						width: 3px;
						height: 3px;
						border-radius: 50%;
						background: rgba(255, 255, 255, .5);
						z-index: 2;
						margin-top: 4px;
						margin-left: -7px;
						animation: ball .45s cubic-bezier(0, 0, .15, 1) alternate infinite;
						-webkit-animation: ball .45s cubic-bezier(0, 0, .15, 1) alternate infinite;
					}

					&::before {
						margin-left: -7px;
					}

					&::after {
						animation-delay: .3s;
						-webkit-animation-delay: .3s;
						margin-left: 7px;
					}
				}

				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					content: '';
					display: block;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: rgba(255, 255, 255, .5);
					z-index: 2;
					margin-top: 4px;
					animation: ball .45s cubic-bezier(0, 0, .15, 1) alternate infinite;
					-webkit-animation: ball .45s cubic-bezier(0, 0, .15, 1) alternate infinite;
					border: none;
					animation-delay: .15s;
					-webkit-animation-delay: .15s;
				}
			}

			.timestamp {
				position: absolute;
				bottom: -20px;
				left: 5px;
				font-size: 11px;
				color: rgba(0, 0, 0, .8);
			}
		}
	}

	// .chat__content

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		height: 101%;
		width: 100%;
	}
	
	// .chat__send-box
	
	&__send-box {
		display: flex;
		align-items: center;
		flex: 0 1 55px;
		width: 100%;
		background: rgba(0, 0, 0, .8);
		padding: 10px 20px;
		gap: 10px;

		textarea:focus:-webkit-placeholder {
			color: transparent;
		}
	}

	// .chat__attachment

	&__attachment {
		width: 25px;
		height: 25px;
		transition: filter .1s ease;

		&:hover {
			filter: invert(.6);
		}
	}

	// .chat__input

	&__input {
		background: none;
		border: none;
		outline: none;
		resize: none;
		color: rgb(255, 255, 255);
		font-size: 14px;
		height: 20px;
		line-height: 1.2;
		margin: 0;
		padding-right: 20px;
		flex: 1 0 auto;
	}

	// .chat__submit

	&__submit {
		border: none;
		background: rgba(255, 255, 255, .7);
		font-size: 12px;
		font-weight: bold;
		border-radius: 5px;
		cursor: pointer;
		text-transform: uppercase;
		line-height: 1;
		border-radius: 50%;
		outline: none;
		transition: all .2s ease;

		&:hover { 
			background: rgba(255, 255, 255, 1);
		}

		img { 
			width: 30px;
			height: 30px;
		}
	}
}

// .avatar

.avatar {
	position: absolute;
	z-index: 1;
	left: -45px;
	bottom: -15px;
	border-radius: 30px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 2px solid rgba(255, 255, 255, .25);

	img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}
}

// .mCSB_scrollTools

.mCSB_scrollTools {
	margin: 1px -3px 1px 0;
	opacity: 0;

	// .mCSB_dragger

	.mCSB_dragger {

		// .mCSB_dragger_bar

		&_bar {
			background-color: rgba(0, 0, 0, .5) !important;
		}
	}
}

// .mCSB_inside

.mCSB_inside {
	> .mCSB_container {
		margin-right: 0;
		padding: 0 10px;
	}
}

// Bounce Animation
@-webkit-keyframes bounce {
	0% {
		transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7% {
		transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41% {
		transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11% {
		transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72% {
		transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32% {
		transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93% {
		transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54% {
		transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04% {
		transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15% {
		transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26% {
		transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49% {
		transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}
@keyframes bounce {
	0% {
		transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	4.7% {
		transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	9.41% {
		transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	14.11% {
		transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	18.72% {
		transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	24.32% {
		transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	29.93% {
		transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	35.54% {
		transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	41.04% {
		transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	52.15% {
		transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	63.26% {
		transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	85.49% {
		transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	100% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}

// Ball Animation
@-webkit-keyframes ball {
	from {
		transform: translateY(0) scaleY(0.8);
	}
	to {
		transform: translateY(-10px);
	}
}
@keyframes ball {
	from {
		transform: translateY(0) scaleY(0.8);
	}
	to {
		transform: translateY(-10px);
	}
}