/*
	===== GLOBAL STYLES =====
*/
body { 
	background: linear-gradient(135deg, #a0c0ff, #262a60);
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 1.3;
	overflow: hidden;
}

.mCSB_inside>.mCSB_container {
	margin-right: 5px !important;
}